.times {
  width: 45%;
  height: 3rem;
  object-fit: contain;
}

.menubar {
  align-items: center;
  width: 15%;
  height: 1.2rem;
  object-fit: contain;
}

.follow-links {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.facebook img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.twitter img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.linkedin img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.github img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}
